<IfModule mod_rewrite.c>
    # Mengaktifkan Rewrite Engine
    RewriteEngine On

    # Aturan 1: Arahkan root domain (kosong) ke folder public
    RewriteRule ^$ public/ [L]

    # Aturan 2: Arahkan semua request lainnya ke folder public
    # $1 mengambil semua karakter setelah nama domain
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>